:root {
  --clr-primary-400: hsl(176, 50%, 47%);
  --clr-primary-500: hsl(176, 72%, 28%);

  --clr-neutral-400: hsl(0, 0%, 48%);
  --clr-neutral-500: hsl(0, 0%, 0%);
}

body {
  font-family: 'Commissioner', sans-serif;
  font-size: 1.6rem;
  background-color: #fafafa;
}

.container {
  padding: 0 2.4rem;
  max-width: 115.8rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

.show-menu.body::before {
  opacity: .3;
  pointer-events: initial;
}

/* HEADER */
.header {
  height: 40rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(255, 255, 255, 0)), url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 12.8rem, cover;
  padding-top: 4.8rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

.header-content a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all .3s ease;
}

a:hover {
  text-decoration-color: hsl(0, 0%, 100%, .5);
}

.header-links {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.menu-wrapper {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header {
    padding-top: 3.2rem;
    height: 30rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(255, 255, 255, 0)), url("./images/image-hero-mobile.jpg");
    background-size: 100% 17.2rem, cover;
    background-repeat: no-repeat;
  }

  .header-content {
    position: relative;
  }

  .header-links {
    flex-direction: column;
    align-items: start;
    gap: 0;
    justify-content: space-between;
    position: absolute;
    top: 5.6rem;
    left: 50%;
    transform: translate(-50%, -150%);
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 8px;
    width: 32.7rem;
    height: 21.2rem;
    font-size: 1.8rem;
    color: black;
    text-align: left;
    transition: all .3s ease;
  }

  .show-menu .header-links {
    transform: translate(-50%, 0);
  }

  .header-link + .header-link {
    position: relative;
  }

  .header-link:nth-child(2)::before, .header-link:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -2.4rem;
    left: -2.4rem;
    width: 32.7rem;
    height: 1px;
    background: hsla(0, 0%, 18%, .1);
  }

  .menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .close {
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
  }

  .show-menu .close{
    opacity: 1;
  }

  .hamburg {
    transition: all .3s ease;
  }

  .show-menu .hamburg {
    opacity: 0;
  }
}

/* MAIN */
.main {
  position: relative;
  margin-top: -9.2rem;
}

.main-content {
  display: grid;
  gap: 2.4rem;
}

.main-container {
  max-width: 73rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4.8rem;
  background-color: #fff;
  border-radius: 8px;
}

.mastercraft, .stats, .about {

}

.mastercraft {
  position: relative;
  padding: 5.6rem 0 4.8rem;
  text-align: center;
}

.mastercraft::before {
  content: '';
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-image: url("./images/logo-mastercraft.svg");
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mastercraft h1 {
  font-size: 2.8rem;
}

.mastercraft p {
  font-size: 1.6rem;
  color: var(--clr-neutral-400);
  margin: 1.5rem 0 4rem;
}

.mastercraft-btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 3.3rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.7rem 0 1.9rem;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-backing {
  text-align: center;
  width: 20.4rem;
  color: white; 
  background-color: var(--clr-primary-400);
}

.btn-backing:hover {
  background-color: var(--clr-primary-500);
}

.btn-bookmark {
  background: hsla(0, 0%, 18%, 0.05);
  width: 17.4rem;
  position: relative;
}

.btn-bookmark circle {
  transition: all .3s ease;
}

.btn-bookmark:hover circle {
  fill: var(--clr-neutral-400);
}

.btn-bookmark p {
  margin: 0;
  margin-left: 5.6rem;
  text-align: left;
  display: inline-block;
}

.btn-bookmark svg {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-image: url("./images/icon-bookmark.svg");
}

/* .btn-bookmark circle {
  fill: var(--clr-neutral-400);
}

.btn-bookmark path {
  fill: #b1b1b1;
} */

.stats {
  padding: 4.8rem 0;
}

.stats-wrapper {
  display: flex;
  align-items: center;
}

.stat-backed {

}

.stat-backers {
  margin-left: 9rem;
}

.stat-days, .stat-backers {
  position: relative;
}

.stat-backers::before, .stat-days::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgb(0, 0, 0, 0.15);
  left: -4.7rem;
}

.stat-days {
  margin-left: 13.9rem;
}

.stat-title {
  font-weight: 700;
  font-size: 3.2rem;
  color: black;
  margin-bottom: 8px;
}

.stat-text {
  font-size: 1.5rem;
  color: var(--clr-neutral-400);
}

.stats-progress-bar {
  position: relative;
  border-radius: 33rem;
  height: 1.2rem;
  background-color: rgb(0, 0, 0, 0.05);
  margin-top: 3.7rem;
}

.progress {
  width: 70%;
  background-color: var(--clr-primary-400);
  height: 100%;
  border-radius: 33rem;
}

.about {
  padding: 4.8rem 0;
}

.about-title {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.about-text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--clr-neutral-400);
  margin-bottom: 4rem;
}

.stands-wrapper {
  display: grid;
  gap: 2.4rem;
}

.stand {
  padding: 3.8rem 3.2rem;
  border: 1px solid rgb(0, 0, 0, 0.15);
  border-radius: 8px;
}

.stand-desc, .stand-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stand-title {
  font-weight: 700;
  font-size: 1.8rem;
}

.stand-pledge {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--clr-primary-400);
}

.stand-text {
  line-height: 3rem;
  color: var(--clr-neutral-400);
  margin: 2.4rem 0;
}

.stand-footer {
  display: flex;
  align-items: center;
}

.stand-footer-text-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stand-left {
  font-size: 3.2rem;
  font-weight: 700;
}

.stand-footer span {
  font-size: 1.5rem;
  color: var(--clr-neutral-400);
  font-weight: 400;
}

.stand-reward {
  outline: 0;
  border: none;
  background-color: var(--clr-primary-400);
  color: white;
  transition: all .3s ease;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1.5rem 0 1.6rem;
  width: 15.7rem;
  border-radius: 33rem;
  cursor: pointer;
}

.stand-reward:hover {
  background-color: var(--clr-primary-500);
}

.out-of-stock {
  position: relative;
}

.out-of-stock::before {
  content: '';
  position: absolute;
  background-color: rgb(255, 255, 255, .5);
  inset: 0;
}

@media screen and (max-width: 800px) {
  .main-content {
    padding: 0 2.4rem;
  }

  .main-container {
    padding: 0 2.4rem;
  }

  .mastercraft h1 {
    font-size: 2rem;
  }

  .mastercraft p {
    font-size: 1.4rem;
  }

  .btn-bookmark {
    width: 5.6rem;
    height: 5.6rem;
    overflow: hidden;
  }

  .stats {
    padding: 3.2rem 0 4rem;
  }

  .stats-wrapper {
    /* position: relative; */
    flex-direction: column;
    gap: 4.9rem;
  }

  .stat-days, .stat-backers {
    margin-left: 0;
    /* position: static; */
  }

  .stat-backers::before, .stat-days::before {
    height: 1px;
    width: 8rem;
    left: 0;
    top: -2.4rem;
  }

  .stat-days::before {
    left: -1.6rem;
  }

  .stand {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2.4rem;
  }

  .stand-desc, .stand-footer {
    flex-direction: column;
    align-items: start;
  }

  .stand-desc {
    gap: 8px;
  }

  .stand-footer {
    gap: 2.4rem;
  }
}