:root {
  --clr-primary-500: hsl(300, 43%, 22%);
  --clr-primary-300: hsl(333, 80%, 67%);
  --clr-neutral-400: hsl(303, 10%, 53%);
  --clr-neutral-300: hsl(300, 24%, 96%);

  --ff: 'League Spartan', sans-serif;
  --fs-400: 1.7rem;

  --h1-fs-400: 5.6rem;
  --h1-lh-400: 4.8rem;
  --h1-fs-300: 4rem;
  --h1-lh-300: 3.2rem;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-400);
  padding-top: 8.2rem;
}

.container {
  padding: 0 2.4rem;
}

