:root {
  --clr-primary-400: #54e6af;
  --clr-primary-100: white;
  --clr-primary-200: #c2cbe5;

  --clr-neutral-500: #121725;
  --clr-neutral-400: #2c344b;

  --clr-svg-300: #5a668a;

  --ff: "Chivo", sans-serif;
  --fs-300: 1.5rem;
  --fs-400: 1.8rem;

  --heading-h1-fs-300: 2.7rem;
  --heading-h1-lh-300: 3.8rem;
  --heading-h1-fs-400: 4.8rem;
  --heading-h1-lh-400: 5.6rem;
  --heading-h1-fs-500: 5.2rem;
  --heading-h1-lh-500: 6.2rem;
}

body {
  background-color: var(--clr-neutral-500);
  min-height: 100vh;
  /* Попробывать сделать изображение через background */
  font-family: var(--ff);
  font-size: var(--fs-400);
  font-weight: 300;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
}

.header {
  margin-top: 10.2rem;
  margin-bottom: 10.3rem;
}

.main-content {
  max-width: 72.3rem;
  padding-top: 8.8rem;
  padding-right: 5.8rem;
  background-color: var(--clr-neutral-500);
}

.main-title {
  font-size: var(--heading-h1-fs-500);
  font-weight: 300;
  line-height: var(--heading-h1-lh-500);
  text-transform: uppercase;
  color: white;
}

.main-title span {
  color: var(--clr-primary-400);
}

.main-text {
  font-size: var(--fs-400);
  line-height: 2.8rem;
  color: var(--clr-primary-200);
  max-width: 44.5rem;
  margin: 2.4rem 0 4rem;
}

.main-form {
  margin-bottom: 6.4rem;
}

.email-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 42.7rem;
}

#email {
  display: block;
  width: 100%;
  position: relative;
  background-color: var(--clr-neutral-400);
  padding: 1.9rem 3.2rem;
  border: none;
  border-radius: 2.8rem;
  font-size: 1.5rem;
  color: white;
}

#email::placeholder {
  color: white;
}

.email-wrapper::before {
  content: "Oops! Please check your email";
  position: absolute;
  top: 6.4rem;
  z-index: 10;
  color: hsla(0, 96%, 61%, 1);
  font-size: 1.2rem;
  left: 3.2rem;
  opacity: 0;
}

.error.email-wrapper::before {
  opacity: 1;
}

input:focus {
  outline: none;
}

.btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.4rem;
  border: none;
  border-radius: 2.8rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-500);
  padding: .9rem 2.7rem;
  cursor: pointer;
  height: 4.6rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 2.7rem;
  max-height: 2.9rem;
}

li {
  list-style: none;
}

.bg-img {
  position: absolute;
  right: 0;
  top: 13rem;
  z-index: -5;
}

.bg-pattern {
  position: absolute;
  right: 0;
  top: 71.8rem;
}

.btn-mobile {
  display: none;
}

.icon-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    background-image: url("./assets/tablet/image-host.jpg");
    background-repeat: no-repeat;
    background-position: right top;
  }

  .bg-img {
    display: none;
  }

  .container {
    padding: 0 3.9rem;
  }

  .main-content {
    max-width: 63.5rem;
    padding-right: 0;
  }

  .main-title {
    font-size: var(--heading-h1-fs-400);
    line-height: var(--heading-h1-lh-400);
  }

  .main-text {
    margin-top: 3.1rem;
  }

  .bg-pattern {
    top: 92rem;
    right: initial;
    left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("./assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
  }

  .container {
    padding: 0 2.4rem;
  }

  .header {
    margin-top: 6.2rem;
    margin-bottom: 5.7rem;
  }

  .header img {
    margin: 0 auto;
  }
  

  .main-content {
    background-color: transparent;
    padding-top: 0;
  }

  .main-title {
    font-size: var(--heading-h1-fs-300);
    line-height: var(--heading-h1-lh-300);
    text-align: center;
  }

  .main-text {
    margin-top: 1.6rem;
    margin-bottom: 3.3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .bg-pattern {
    display: none;
  }

  .icon-wrapper {
    display: none;
  }

  .icon-wrapper-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon-mobile {
  }
  
  .icon-mobile img {
    max-height: 1.7rem;
  }
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  transition: all 0s 50000s;  
}