:root {
  --clr-light-primary-600: hsl(212, 100%, 50%);
  --clr-light-primary-500: hsl(217, 21%, 21%);
  --clr-light-primary-400: hsl(217, 35%, 45%);
  --clr-light-primary-300: hsl(217, 20%, 51%);
  --clr-light-primary-200: hsl(227, 100%, 98%);
  --clr-light-primary-100: hsl(0, 0%, 100%);

  --clr-dark-primary-600: hsl(220, 40%, 13%);
  --clr-dark-primary-500: hsl(212, 100%, 50%);
  --clr-dark-primary-400: hsl(222, 41%, 20%);
  --clr-dark-primary-300: hsl(0, 0%, 100%);
}

body {
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: var(--clr-light-primary-200);
  transition: all 0.3s ease-in-out;
}

body.dark-theme {
  background-color: var(--clr-dark-primary-600);
}

.container {
  max-width: 73rem;
  margin: 0 auto;
}

.github-card {
  margin-top: 14.4rem;
}

.github-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin-bottom: 3.6rem;
}

.github-card-logo {
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: var(--clr-light-primary-500);
  transition: all 0.3s ease-in-out;
}

.dark-theme .github-card-logo {
  color: white;
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-switcher-light,
.theme-switcher-dark {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  transition: all 0.3s ease-in-out;
}

.theme-switcher-light {
  color: white;
  opacity: 0;
}

.theme-switcher:hover .theme-switcher-light {
  color: var(--clr-light-primary-400);
}

.theme-switcher:hover .theme-switcher-light path {
  fill: var(--clr-light-primary-400);
}

.theme-switcher-dark {
  position: absolute;
  align-self: end;
  color: var(--clr-light-primary-300);
}

.theme-switcher:hover .theme-switcher-dark {
  color: var(--clr-dark-primary-600);
}

.theme-switcher path {
  transition: all 0.3s ease-in-out;
}

.theme-switcher .theme-switcher-dark:hover path {
  fill: var(--clr-dark-primary-600);
}

.dark-theme .theme-switcher-dark {
  opacity: 0;
}

.dark-theme .theme-switcher-light {
  opacity: 1;
}

/* FORM */
.github-card-form {
  position: relative;
  margin-bottom: 2.4rem;
}

.github-card-input {
  display: block;
  width: 100%;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  padding: 2.2rem 0;
  padding-left: 8rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--clr-light-primary-500);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  transition: all 0.3s ease-in-out;
}

.github-card-input::placeholder {
  color: var(--clr-light-primary-400);
}

.dark-theme .github-card-input {
  background-color: var(--clr-dark-primary-400);
  color: white;
  box-shadow: none;
}

.github-card-form-icon {
  pointer-events: none;
  position: absolute;
  left: 3.2rem;
  top: 2.3rem;
}

.github-card-search {
  position: absolute;
  right: 1rem;
  top: 0.95rem;
  background-color: var(--clr-light-primary-600);
  padding: 1.25rem 2.3rem 1.35rem 2.4rem;
  color: white;
  font-size: 1.6rem;
  line-height: 2.4rem;
  outline: 0;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.github-card-search:active {
  transform: translateY(2px);
}

/* GITHUB CARD INFO */
.github-card-info {
  position: relative;
  padding: 4.4rem 4.8rem 4.8rem 20.2rem;
  background-color: #fff;
  border-radius: 1.5rem;
  transition: all .3s ease-in-out;
}

.github-card-img {
  position: absolute;
  top: 4.8rem;
  left: 4.8rem;
  width: 11.7rem;
  height: 11.7rem;
  background-color: coral;
}

.github-card-user-wrapper {
  display: flex;
  justify-content: space-between;
}

.github-card-username {
  color: var(--clr-light-primary-500);
  font-size: 2.6rem;
  line-height: 3.9rem;
}

.github-card-username-link {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--clr-light-primary-600);
  text-decoration: none;
}

.github-card-joined {
  color: var(--clr-light-primary-300);
  font-size: 1.5rem;
  line-height: 2.2rem;
  transform: translateY(8px);
}

.github-card-user-bio {
  margin: 2rem 0 3.2rem;
  color: var(--clr-light-primary-400);
}

.github-card-repo-info {
  display: flex;
  padding: 1.5rem 3.2rem 1.7rem;
  background-color: var(--clr-light-primary-200);
  border-radius: 1rem;
  margin-bottom: 3.7rem;
  transition: all .3s ease-in-out;
}

.github-card-repo-info-item h3 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 700;
}

.github-card-repo-info-item:nth-child(2) {
  margin-left: 9.9rem;
}

.github-card-repo-info-item:nth-child(3) {
  margin-left: 8.2rem;
}

.github-card-repo-info-title {
  color: var(--clr-light-primary-400);
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.github-card-links {
  display: flex;
  justify-content: space-between;
  max-width: 43rem;
  color: var(--clr-light-primary-400);
}

.github-card-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.github-card-link {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon-location {
  margin-right: 5px;
}

.dark-theme .github-card-info {
  background-color: var(--clr-dark-primary-400);
}

.dark-theme .github-card-username,
.dark-theme .github-card-joined,
.dark-theme .github-card-user-bio,
.dark-theme .github-card-repo-info-title,
.dark-theme .github-card-link {
  color: white;
}

.dark-theme .github-card-repo-info {
  background-color: var(--clr-dark-primary-600);
  color: white;
}
