:root {
  --clr-light-primary-600: hsl(212, 100%, 50%);
  --clr-light-primary-500: hsl(217, 21%, 21%);
  --clr-light-primary-400: hsl(217, 35%, 45%);
  --clr-light-primary-300: hsl(217, 20%, 51%);
  --clr-light-primary-200: hsl(227, 100%, 98%);
  --clr-light-primary-100: hsl(0, 0%, 100%);

  --clr-dark-primary-600: hsl(220, 40%, 13%);
  --clr-dark-primary-500: hsl(212, 100%, 50%);
  --clr-dark-primary-400: hsl(222, 41%, 20%);
  --clr-dark-primary-300: hsl(0, 0%, 100%);
}

body {
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
  font-size: 1.5rem;
  line-height: 2.5rem;
}