:root {
  --clr-primary-600: hsl(217, 19%, 35%);
  --clr-primary-500: hsl(214, 17%, 51%);
  --clr-primary-400: hsl(212, 23%, 69%);
  --clr-primary-300: hsl(210, 46%, 95%);

  --ff: 'Manrope', sans-serif;
}

h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px;
  color: var(--clr-primary-600);
}

body {
  min-height: 100vh;
  background-color: #ecf2f8;
  font-family: var(--ff);
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--clr-primary-500);
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}