:root {
  --clr-primary-600: hsl(217, 19%, 35%);
  --clr-primary-500: hsl(214, 17%, 51%);
  --clr-primary-400: hsl(212, 23%, 69%);
  --clr-primary-300: hsl(210, 46%, 95%);

  --ff: 'Manrope', sans-serif;
}

h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px;
  color: var(--clr-primary-600);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #ecf2f8;
  font-family: var(--ff);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--clr-primary-500);
}

.container {
  padding: 0 2.4rem;
}

li {
  list-style: none;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.main-content {
  position: relative;
  padding: 23.6rem 3.2rem 2rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

.main-content::before {
  content: "";
  position: absolute;
  height: 20rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./images/drawers.jpg");
  background-size: cover;
}

.main-text {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.12px;
}

.main-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-wrapper {
  display: flex;
  align-items: center;
}

.img-wrapper {
  margin-right: 1.6rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.person-name {
  color: var(--clr-primary-600);
  font-weight: 700;
}

.arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--clr-primary-300);
  border-radius: 50%;
}

.arrow {
}

.icon-section {
  display: flex;
  background-color: var(--clr-primary-500);
  padding: 2.2rem 3.2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.share-text {
  color: var(--clr-primary-400);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-left: 2.1rem;
}

.arrow-hidden {
  position: absolute;
  right: 3.2rem;
  bottom: 1.6rem;
}