:root {
  --clr-primary-700: hsl(0, 0%, 1%);
  --clr-primary-600: hsl(7, 77%, 66%);
  --clr-primary-300: hsl(30, 5%, 45%);

  --clr-secondary-700: hsl(252, 66%, 62%);
  --clr-secondary-600: hsl(28, 89%, 67%);
  --clr-secondary-500: hsl(314, 45%, 23%);
  --clr-secondary-400: hsl(172, 46%, 57%);
  --clr-secondary-300: hsl(0, 78%, 79%);

  --clr-neutral-200: hsl(28, 100%, 97%);

  --heading-l-fs-300: 3.6rem;
  --heading-l-lh-300: 4.5rem;
  --heading-l-fs-400: 4.4rem;
  --heading-l-lh-400: 5.5rem;
  --heading-l-fs-500: 5.6rem;
  --heading-l-lh-500: 7rem;

  --heading-m-fs-300: 2.6rem;
  --heading-m-lh-300: 3.2rem;
  --heading-m-fs-400: 3.2rem;
  --heading-m-lh-400: 4rem;
  --heading-m-fs-500: 4rem;
  --heading-m-lh-500: 5rem;

  --heading-s-fs-300: 2.4rem;
  --heading-s-lh-300: 3rem;
  --heading-s-fs-400: 3.2rem;
  --heading-s-lh-400: 4rem;
  --heading-s-fs-500: 3.2rem;
  --heading-s-lh-500: 4rem;

  --body-fs-300: 1.6rem;
  --body-lh-300: 2.6rem;
  --body-fs-400: 1.8rem;
  --body-lh-400: 2.8rem;
}

body {
  background-color: var(--clr-neutral-200);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: var(--body-fs-300);
  line-height: var(--body-lh-300);
  min-height: 100vh;
}

.container {
  padding: 0 1.6rem;
}

@media screen and (min-width: 720px) {
  body {
    font-size: var(--body-fs-400);
    line-height: var(--body-lh-400);
  }

  .container {
    max-width: 69rem;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 111rem;
  }
}

/* HEADER AND FOOTER */
.header {
  margin-top: 1.6rem;
}

.header-content,
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-bottom: 3.2rem;
}

.logo {
  max-width: 4.8rem;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 0.8rem 2.8rem;
  color: var(--clr-neutral-200);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-decoration: none;
  border-radius: 2.8rem;
  outline: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:focus {
  outline: 1px solid hsl(0, 63%, 56%);
}

.btn:active {
  transform: translateY(2px);
}

.idle1 {
  background-color: var(--clr-primary-700);
}

.idle1:hover {
  background-color: var(--clr-secondary-700);
}

.idle2 {
  background-color: var(--clr-primary-600);
}

.idle2:hover {
  background-color: var(--clr-secondary-600);
}

@media screen and (min-width: 720px) {
  .header {
    margin-top: 5.6rem;
  }

  .footer {
    margin-bottom: 3.2rem;
  }

  .logo {
    max-width: 6.4rem;
  }

  .btn {
    padding: 1.4rem 4.5rem;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1140px) {
  .footer {
    margin-bottom: 6.4rem;
  }
}

/* DESIGN SECTION */
.design-content {
  text-align: center;
}

.design-title {
  max-width: 34.3rem;
  margin: 0 auto;
  font-size: var(--heading-l-fs-300);
  line-height: var(--heading-l-lh-300);
}

.design-text {
  max-width: 28.5rem;
  margin: 0 auto;
  color: var(--clr-primary-300);
}

.design-mt-mb {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.heading-l-mb {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 720px) {
  .design-title {
    max-width: 100%;
    font-size: var(--heading-l-fs-400);
    line-height: var(--heading-l-lh-400);
  }

  .design-text {
    max-width: 57.3rem;
  }

  .design-mt-mb {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
  }

  .heading-l-mb {
    margin-bottom: 2.7rem;
  }
}

@media screen and (min-width: 1140px) {
  .design-title {
    font-size: var(--heading-l-fs-500);
    line-height: var(--heading-l-lh-500);
  }

  .design-text {
    max-width: 73rem;
  }

  .design-mt-mb {
    margin-top: 6.6rem;
    margin-bottom: 8rem;
  }

  .heading-l-mb {
    margin-bottom: 2.3rem;
  }
}

/* CARDS SECTION */
.cards-mb {
  margin-bottom: 10rem;
}

.cards-content {
  --distanceFromEdge: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 36.4rem 18.2rem 15.8rem 18.2rem 18.2rem;
  gap: 2.4rem;
}

.card {
  position: relative;
  color: white;
  border-radius: 8px;
}

.card-text {
  position: absolute;
  left: var(--distanceFromEdge);
  bottom: var(--distanceFromEdge);
}

.card img {
  position: absolute;
  top: var(--distanceFromEdge);
  right: var(--distanceFromEdge);
}

.blue {
  background-color: var(--clr-secondary-700);
  grid-column: span 2;
}

.yellow {
  background-color: var(--clr-secondary-600);
}

.pink {
  background-color: var(--clr-secondary-300);
}

.orange {
  background-color: var(--clr-primary-600);
  grid-column: span 2;
}

.aquamarine {
  background-color: var(--clr-secondary-400);
  grid-column: span 2;
}

.purple {
  background-color: var(--clr-secondary-500);
  grid-column: span 2;
}

@media screen and (min-width: 720px) {
  .cards-content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 18.2rem 15.8rem 18.2rem;
  }

  .cards-mb {
    margin-bottom: 12rem;
  }

  .blue {
    grid-row: span 2;
  }
}

@media screen and (min-width: 1140px) {
  .cards-content {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 18.2rem 15.8rem;
  }

  .cards-mb {
    margin-bottom: 13.6rem;
  }

  .orange {
    grid-column: 3 / 5;
  }

  .aquamarine {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }
}

/* MAIN SECTION */
.main {
  position: relative;
}

.main-mb {
  margin-bottom: 10rem;
}

.main-img-tablet {
  display: none;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.main-img {
  max-width: 30rem;
}

.main-holder {
  display: none;
}

.main-text-wrapper {
  text-align: center;
}

.main-title {
  font-size: var(--heading-m-fs-300);
  line-height: var(--heading-m-lh-300);
}

.main-text {
  color: var(--clr-primary-300);
}

.main-text-mt-mb {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 720px) {
  .main-mb {
    margin-bottom: 12rem;
  }

  .main-content {
    flex-direction: row;
    gap: 1.2rem;
  }

  .main-content > * {
    flex-basis: 100%;
  }
  
  .main-img-tablet {
    position: absolute;
    right: 40.8rem;
    display: block;
    max-width: 36.4rem;
  }

  .main-img {
    display: none;
  }

  .main-holder {
    display: block;
  }

  .main-text-wrapper {
    max-width: 33.9rem;
    text-align: left;
  }

  .main-title {
    font-size: var(--heading-m-fs-400);
    line-height: var(--heading-m-lh-400);
  }
}

@media screen and (min-width: 1140px) {
  .main-mb {
    margin-bottom: 8.8rem;
  }
  
  .main-img-tablet {
    display: none;
  }

  .main-content {
    justify-content: space-between;
    gap: initial;
  }

  .main-content > * {
    flex-basis: initial;
  }

  .main-img {
    display: block;
    max-width: 44.5rem;
  }

  .main-holder {
    display: none;
  }

  .main-text-wrapper {
    max-width: 54rem;
  }

  .main-title {
    font-size: var(--heading-m-fs-500);
    line-height: var(--heading-m-lh-500);
  }

  .main-text-mt-mb {
    margin-top: 3.4rem;
    margin-bottom: 3.2rem;
  }
}