:root {
  --clr-primary-500: #87879d;
  --clr-primary-600: #28283d;
  --clr-primary-400: #4d96a9;
  --clr-primary-300: #855fb1;
  --clr-primary-200: #fafafa;

  --ff: 'Red Hat Display', sans-serif;

  --heading-xl-fs-300: 4rem;
  --heading-xl-lh-300: 4.4rem;
  --heading-l-fs-300: 3.2rem;
  --heading-l-lh-300: 3.2rem;

  --heading-xl-fs-400: 4.8rem;
  --heading-xl-lh-400: 4.8rem;
  --heading-l-fs-400: 4rem;
  --heading-l-lh-400: 4.4rem;

  --heading-xl-fs-500: 6.4rem;
  --heading-xl-lh-500: 6.4rem;
  --heading-l-fs-500: 4rem;
  --heading-l-lh-500: 4.4rem;

  --fs-400: 1.8rem;
  --lh-400: 2.6rem;


}


body {
  display: grid;
  place-items: center;
  padding: 4.8rem 0 7.2rem;
  min-height: 100vh;
  background-color: var(--clr-primary-200);
  font-family: var(--ff);
  font-size: var(--fs-400);
  font-weight: 500;
  line-height: var(--lh-400);
  text-align: center;
}

@media screen and (min-width: 700px) {
  body {
    padding-bottom: 6.6rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 8.3rem 0 10.4rem;
  }
}

h1, h2 {
  font-weight: 900;
}

.container {
  padding: 0 2.4rem;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 111rem;
  }
}

/* IMAGERY */
.imagery {
  margin: 26.8rem 0 6.4rem;
}

.grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
}

img {
  border-radius: 1rem;
}

@media screen and (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .imagery {
    margin: 28.7rem 0 4.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    padding: 8.3rem 0 10.4rem;
  }

  .imagery {
    margin: 31.4rem 0 8rem;
  }
}

/* INFO */
.info {
  margin-bottom: 17.6rem;
}

.info-wrapper h2 {
  margin: 2.4rem 0 3.2rem;
}

.info p:last-child {
  color: var(--clr-primary-500);
  font-size: 1.6rem;
}

@media screen and (min-width: 700px) {
  .info {
    margin-bottom: 19.2rem;
  }

  .info-wrapper h2 {
    margin: 2.4rem auto 3.2rem;
    max-width: 44.5rem;
  }

  .info-wrapper p:last-child {
    max-width: 57.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    max-width: 54rem;
    margin-bottom: 18.4rem;
  }

  .info-text {
    font-size: 1.8rem;
  }
}

/* FOOTER */
































h1 {
  font-size: var(--heading-xl-fs-300);
  line-height: var(--heading-xl-lh-300);
}

h2 {
  font-size: var(--heading-l-fs-300);
  line-height: var(--heading-l-lh-300);
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: var(--heading-xl-fs-400);
    line-height: var(--heading-xl-lh-400);
  }
  
  h2 {
    font-size: var(--heading-l-fs-400);
    line-height: var(--heading-l-lh-400);
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: var(--heading-xl-fs-500);
    line-height: var(--heading-xl-lh-500);
  }
  
  h2 {
    font-size: var(--heading-l-fs-500);
    line-height: var(--heading-l-lh-500);
  }
}

.accent {
  font-size: 1.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--clr-primary-400);
}