:root {
  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-200: hsl(0, 0%, 41%);
  --clr-neutral-600: hsl(0, 0, 8%);

  --body-fs-300: 1.6rem;
  --body-fs-400: 1.8rem;

  --nav-btn-fs-300: 1.4rem;
  --nav-item-fs-300: 1.6rem;
  --nav-item-fs-400: 1.4rem;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: var(--body-fs-300);
}