:root {
  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-200: hsl(0, 0%, 41%);
  --clr-neutral-600: hsl(0, 0%, 8%);

  --body-fs-300: 1.6rem;
  --body-fs-400: 1.8rem;

  --nav-btn-fs-300: 1.4rem;
  --nav-item-fs-300: 1.6rem;
  --nav-item-fs-400: 1.4rem;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: var(--body-fs-300);
  min-height: 100vh;
  overflow: hidden;
  transition: all .3s ease;
}

body.overlay {
  background-color:hsl(0, 0%, 8%, 0.75);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER, NAVIGATION */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}

.header-logo {
  width: 8.7rem;
  height: 3.5rem;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  width: 24rem;
  padding: 7.8rem 2.1rem 0 2.4rem;
  background-color: white;
  color: var(--clr-neutral-200);
  transform: translateX(100%);
  transition: transform .3s ease-out;
}

.open .nav {
  transform: translateX(0);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.nav-link-dropdown {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.arrow-down {
  transition: all .3s ease-in-out;
}

.arrow-down:hover {
  transform: rotate(180deg);
}








.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2.4rem;
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  transition: all .3s ease;
}

.dropdown.open-list .dropdown-list {
  max-height: 15rem;
  margin-top: 2.4rem;
  margin-bottom: .8rem;
  overflow: visible;
}

.dropdown-list-icons {
  margin-left: 5.7rem;
}

.dropdown-list-item {
  position: relative;
}

.dropdown-list-item a{
  display: flex;
  align-items: center;
}

.dropdown-list-item-img {
  position: absolute;
  z-index: 1000;
  left: -3.3rem;
  min-height: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.open-list .dropdown-list-item-img {
  min-height: 2rem;
  opacity: 1;
}















.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: var(--clr-neutral-200);
  font-size: var(--nav-btn-fs-300);
  border: none;
  background: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn:hover {
  color: var(--clr-neutral-600);
  border-color: var(--clr-neutral-600);
}

.btn:active {
  transform: translateY(2px);
}

.btn-register {
  padding: 1.3rem 0;
  border: 1.5px solid var(--clr-neutral-200);
  border-radius: 1.4rem;
  margin-top: 1.6rem;
  width: 100%;
}

.nav-toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.close-img {
  position: absolute;
  opacity: 0;
  z-index: 10;
  transition: all .4s ease .1s;
}

.open .close-img{
  opacity: 1;
  transform: rotate(360deg);
}

.open .hamburger-menu {
  opacity: 0;
  transform: scale(0);
}

.hamburger-menu {
  width: 3.2rem;
  height: 1.8rem;
  transition: all .3s ease;
  transform: scale(1);
}


@media screen and (min-width: 800px) {
  .header {
    justify-content: initial;
    align-items: center;
    max-width: 144rem;
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 2.1rem;
  }

  .nav {
    position: relative;
    padding: 0;
    background-color: inherit;
    transform: translateX(0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 6rem;
    font-size: 1.4rem;
  } 

  .nav-list {
    flex-direction: row;
    margin: 0;
    gap: 4rem;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-list {
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.1);
    margin: 0;
    width: max-content;
  }

  .dropdown.open-list .dropdown-list {
    max-height: initial;
    padding: 2.6rem;
  }

  .dropdown-list-icons {
    right: 0;
  }

  .dropdown-list-item-img {
    position: static;
    margin-right: 1.5rem;
  }

  .login-wrapper {
    flex-direction: row;
  }

  .btn-register {
    margin: 0;
    margin-left: 4rem;
    width: 10.4rem;
  }

  .nav-toggle-wrapper {
    display: none;
  }
}

/* MAIN CONTENT */

.main-content {
  text-align: center;
}

.container {
  padding: 0 1.6rem;
}

.main-mobile-img {
  margin: 2.4rem 0 4.8rem;
}

.main-desktop-img {
  display: none;
}

h1 {
  font-size: 3.6rem;
  letter-spacing: -0.5px;
}

main p {
  font-size: 1.6rem;
  color: var(--clr-neutral-200);
  margin: 1.6rem 0 2.4rem;
}

.main-btn {
  background-color: var(--clr-neutral-600);
  border: none;
  outline: none;
  color: white;
  padding: 1.2rem 0;
  width: 13.6rem;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: all .3s ease;
  border: 1px solid transparent;

}

.main-btn:hover {
  color: var(--clr-neutral-600);
  background: transparent;
  border-color: var(--clr-neutral-600);
}

.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.6rem;
  margin-top: 4.8rem;
}

.companies img {
  max-width: 8.1rem;
  max-height: 2.6rem;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 8rem;
  }

  .container {
    max-width: 118.5rem;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .main-content {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 11.1rem;
  }

  .main-text-wrapper {
    max-width: 54rem;
  }

  h1 {
    font-size: 8rem;
    line-height: 8rem;
    letter-spacing: 1.111111px;
    font-weight: 700;
  }

  main p {
    font-size: 1.8rem;
    max-width: 44.5rem;
  }

  .main-mobile-img {
    display: none;
  }

  .main-desktop-img {
    display: block;
    max-height: 64rem;
  }


}