:root {
  --clr-primary-600: #172339;
  --clr-primary-500: #49566d;
  --clr-primary-400: #f3ede7;
  --clr-primary-300: #faf7f5;

  --clr-neutral-600: #ffa84e;
  --clr-neutral-500: #cb30e3;
  --clr-neutral-400: #a060ff;

  --heading-xl-fs-300: 3.8rem;
  --heading-xl-lh-300: 4.4rem;
  --heading-xl-fs-400: 5.6rem;
  --heading-xl-lh-400: 6.4rem;
  --heading-xl-fs-500: 7.2rem;
  --heading-xl-lh-500: 7.8rem;

  --heading-l-fs-300: 4rem;
  --heading-l-lh-300: 4.8rem;
  --heading-l-fs-500: 4.8rem;
  --heading-l-lh-500: 5.6rem;
  
  --heading-m-fs-300: 1.8rem;
  --heading-m-lh-300: 3.2rem;

  --heading-s-fs-300: 1.6rem;
  --heading-s-lh-300: 2.6rem;

  --body-fs-300: 1.6rem;
  --body-lh-300: 2.8rem;
  --body-fs-500: 1.8rem;
  --body-lh-500: 3.2rem;
  
  --testimonial-fs-300: 1.8rem;
  --testimonial-lh-300: 3.2rem;
  --testimonial-fs-500: 2rem;
  --testimonial-lh-500: 3.5rem;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: var(--body-fs-500);
  line-height: var(--body-lh-500);
  background-color: var(--clr-primary-300);
}

.container {
  max-width: 114.2rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: var(--body-fs-300);
    line-height: var(--body-lh-300);
  }

  .container {
    padding-left: 3.9rem;
    padding-right: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 1.6rem;
  }
}

/* HEADER */
.header {
  margin-top: 5rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 8.1rem;
  height: 3.2rem;
}

.btn {
  display: block;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.btn-light {
  padding: 1.1rem 0;
  max-width: 21.9rem;
  width: 100%;
  font-size: 1.6rem;
  color: var(--clr-primary-600);
  border: 1px solid var(--clr-primary-600);
  text-align: center;
}

.btn-light:hover {
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-300);
}

@media screen and (max-width: 1000px) {
  .header {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 2.4rem;
  }

  .btn-light {
    font-size: 1.4rem;
    line-height: 2.4rem;
    max-width: 18.2rem;
  }
}

/* CTA */
.cta {
  margin-top: 6.7rem;
}

.cta-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 10.3rem;
  padding-bottom: 9.2rem;
}

.cta-text-wrapper {
  max-width: 63.5rem;
}

.cta-title {
  font-size: var(--heading-xl-fs-500);
  line-height: var(--heading-xl-lh-500);
  letter-spacing: -1px;
}

.thin {
  font-weight: 400;
}

.cta-text {
  max-width: 35rem;
  color: var(--clr-primary-500);
}

.cta-text-mt-mb {
  margin-top: 4rem;
  margin-bottom: 5.2rem;
}

.btn-dark {
  position: relative;
  z-index: 10;
  max-width: 25.6rem;
  padding: 1.5rem 0 1.4rem;
  color: var(--clr-primary-300);
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
  background: linear-gradient(var(--clr-primary-600), var(--clr-primary-600));
  overflow: hidden;
}

.btn-helper {
  position: absolute;
  z-index: -1;
  inset: 0;
  transition: all .3s ease-in-out;
  opacity: 0;
  background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

.btn-dark:hover .btn-helper {
  opacity: 1;
}

.cta-img {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 47.4rem;
  width: 35rem;
  height: 60rem;
  border-radius: 1.5rem;
  background-image: url("./assets/image-hero-portrait.png");
}

.cta-img::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 4.5rem;
  left: -18.5rem;
  width: 28.7rem;
  height: 3.6rem;
  background-image: url("./assets/pattern-curved-line-1.svg");
  background-size: cover;
}

.cta-mobile-img {
  display: none;
}

.cta-stats-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6.3rem;
  width: 100%;
  max-width: 19rem;
}

.cta-stats-main {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}

.cta-stats-secondary {
  color: var(--clr-primary-500);
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 2.5px;
}

@media screen and (max-width: 1000px) {
  .cta {
    margin-top: 8rem;
  }

  .cta-content {
    flex-direction: column;
    padding-top: 8.8rem;
    padding-bottom: 0;
  }

  .cta-text-wrapper {
    max-width: 57.3rem;
  }

  .cta-title {
    font-size: var(--heading-xl-fs-400);
    line-height: var(--heading-xl-lh-400);
    max-width: 49.4rem;
  }

  .cta-text-mt-mb {
    margin-bottom: 4rem;
  }

  .cta-img {
    width: 28.1rem;
    height: 48.2rem;
    right: 0;
    left: initial;
    background-size: cover;
  }

  .cta-img::before {
    width: 23.2rem;
    height: 2.9rem;
  }

  .cta-stats-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    max-width: 100%;
    margin-top: 12.8rem;
    text-align: center;
  }

  .cta-stats-wrapper > * {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cta {
    margin-top: 8.3rem;
  }

  .cta-content {
    padding-top: 0;
  }

  .cta-content::before {
    content: "";
    position: absolute;
    top: -8px;
    z-index: 1000;
    right: 3.7rem;
    width: 15.1rem;
    height: 1.9rem;
    background-image: url("./assets/pattern-curved-line-1.svg");
    background-size: cover;
    transform: translateY(-100%);
  }

  .cta-title {
    font-size: var(--heading-xl-fs-300);
    line-height: var(--heading-xl-lh-300);
  }

  .cta-text-mt-mb {
    margin: 3.2rem 0;
  }

  .cta-img {
    display: none;
  }

  .cta-mobile-img {
    display: block;
    margin-top: 5.5rem;
    margin-bottom: 5.6rem;
  }

  .cta-stats-wrapper {
    flex-direction: column;
    margin-top: 0;
    gap: 3.2rem;
  }
}


/* TESTIMONIAL */
.testimonial {
  position: relative;
  margin-top: 19.9rem;
}

.testimonial-content {
  position: relative;
  background-color: var(--clr-primary-600);
  border-radius: 1.5rem;
  padding: 8.8rem 0;
}

.testimonial-text-wrapper {
  max-width: 35rem;
  margin-left: 63.4rem;
}

.testimonial-title {
  font-size: var(--heading-l-fs-500);
  line-height: var(--heading-l-lh-500);
  color: var(--clr-primary-300);
}

.testimonial-text {
  color: var(--clr-primary-400);
  font-size: var(--testimonial-fs-500);
  line-height: var(--testimonial-lh-500);
}

.testimonial-person {
  position: absolute;
  z-index: 10;
  left: 11.2rem;
  bottom: 0;
  width: 37.5rem;
  height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-blur {
  position: absolute;
  z-index: 5;
  left: 14.2rem;
  bottom: 4.1rem;
  width: 29.4rem;
  height: 29.4rem;
  background-color: hsl(292, 76%, 54%, .48);
  filter: blur(13.5rem);
}

.testimonial-text-mt-mb {
  margin: 4rem 0;
}

.heading-m {
  font-size: var(--heading-m-fs-300);
  line-height: var(--heading-m-lh-300);
  font-weight: 700;
  color: var(--clr-primary-300);
}

.heading-s {
  font-size: var(--heading-s-fs-300);
  line-height: var(--heading-s-lh-300);
  color: var(--clr-primary-400);
  letter-spacing: 2.5px;
}

@media screen and (max-width: 1000px) {
  .testimonial {
    margin-top: 27.3rem;
  }

  .testimonial-content {
    padding: 33.8rem 5.8rem 6.4rem;
  }

  .testimonial-person {
    left: 50%;
    top: -18rem;
    width: 25.2rem;
    height: 40.2rem;
    transform: translateX(-50%);
  }

  .testimonial-blur {
    top: 0;
    left: 50%;
    width: 19.7rem;
    height: 19.7rem;
    transform: translateX(-50%);
  }

  .testimonial-text-wrapper {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .testimonial-title {
    font-size: var(--heading-l-fs-300);
    line-height: var(--heading-l-lh-300);
  }

  .testimonial-text {
    font-size: var(--testimonial-fs-300);
    line-height: var(--testimonial-lh-300);
  }
}

@media screen and (max-width: 600px) {
  .testimonial {
    margin-top: 23.7rem;
    background-color: var(--clr-primary-600);
    border-radius: 1.5rem;
  }

  .testimonial-content {
    padding: 33.8rem 1.6rem 6.4rem;
    background-color: transparent;
  }

}