:root {
  --clr-primary-600: #191826;
  --clr-primary-500: #fa7453;

  --clr-neutral-400: #ffb964;
  --clr-neutral-500: #66e2dc;
  --clr-neutral-100: #fcfaf9;

  --ff: "IBM Plex Sans", sans-serif;
  --fs-400: 2rem;
  --fs-300: 1.6rem;

  --lh-400: 3.4rem;
  --lh-300: 2.6rem;

  --heading-xl-fs-400: 8.8rem;
  --heading-xl-lh-400: 8.8rem;
  --heading-xl-ls-400: -1px;
  --heading-xl-fs-300: 6.4rem;
  --heading-xl-lh-300: 6.4rem;
  --heading-xl-fs-200: 4rem;
  --heading-xl-lh-200: 4.8rem;

  --heading-l-fs-400: 4rem;
  --heading-l-lh-400: 5.2rem;
  --heading-l-fs-300: 3.2rem;
  --heading-l-lh-300: 4rem;
}

body {
  background-image: url("./assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: -25% 75%;
  font-family: var(--ff);
  font-size: var(--fs-300);
  overflow-x: hidden;
}

@media screen and (min-width: 500px) {
  body {
    background-image: url("./assets/bg-main-tablet.png");
    background-position: 50% 40%;
  }
}
@media screen and (min-width: 1000px) {
  body {
    background-image: url("./assets/bg-main-desktop.png");
    background-position: 80% 15%;
  }
}

.header {
  display: flex;
  padding: 4rem 2.4rem;
}

@media screen and (min-width: 500px) {
  .header {
    margin: 0 auto;
    padding: 6.2rem 3.3rem 0;
    max-width: 111rem;
  }
}

.bg-pattern-1 {
  display: none;
}

@media screen and (min-width: 500px) {
  .bg-pattern-1 {
    display: block;
    position: absolute;
    top: -3rem;
    right: -3.5rem;
    z-index: -1;
    width: 26.7rem;
  }
}

@media screen and (min-width: 1000px) {
  .bg-pattern-1 {
    width: 31.2rem;
    right: 0;
  }
}

/* INTRO */
.intro {
  margin-top: 6.4rem;
  padding: 0 2.4rem;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.intro-title {
  font-size: var(--heading-xl-fs-200);
  line-height: var(--heading-xl-lh-200);
}

.intro-info {
  line-height: var(--lh-300);
}

@media screen and (min-width: 500px) {
  .intro {
    max-width: 111rem;
    margin: 0 auto;
    margin-top: 9.5rem;
    padding: 0 3.3rem;
  }

  .intro-wrapper {
    width: 73%;
    gap: 2.8rem;
  }

  .intro-title {
    font-size: var(--heading-xl-fs-300);
    line-height: var(--heading-xl-lh-300);
  }

  .intro-info {
    font-size: 1.8rem;
    line-height: normal;
  }
}

@media screen and (min-width: 1000px) {
  .intro {
    margin-top: 12.7rem;
  }

  .intro-wrapper {
    width: 83%;
    gap: 4rem;
  }

  .intro-title {
    font-size: var(--heading-xl-fs-400);
    line-height: var(--heading-xl-lh-400);
    letter-spacing: var(--heading-xl-ls-400);
  }

  .intro-info {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

/* CTA */
.cta {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-600);
  /* background-image: url("./assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 28rem 42rem; */
  position: relative;
  border-radius: 1.2rem;
  margin-top: 16.6rem;
}

.cta-pattern {
  position: absolute;
  top: 0;
  left: 50%;
  width: 28rem;
  transform: translate(-50%, 0);
  z-index: 0;
}

.cta-illustration {
  position: relative;
  display: flex;
  justify-content: center;
  top: -9.8rem;
  z-index: 5;
}

.cta-img {
  width: 20.9rem;
}

.cta-premium {
  padding: 4.8rem 3.6rem;
  background-color: var(--clr-primary-500);
  font-size: 1.8rem;
  border-radius: 1.2rem;
  position: absolute;
  top: 38rem;
}

.cta-title {
  font-size: var(--heading-l-fs-300);
  line-height: var(--heading-l-fs-300);
  margin-bottom: 1.2rem;
}

.cta-info {
  margin-bottom: 3.6rem;
  line-height: 2.8rem;
}

.accent {
  font-size: 6.5rem;
  font-weight: 700;
  margin-right: 1.6rem;
}

.cta-price {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 500px) {
  .cta {
    max-width: 69.6rem;
    margin: 0 auto;
    margin-top: 24.9rem;
  }

  .cta-illustration {
    left: -25%;
    top: -12rem;
  }
  .cta-img {
    width: 27rem;
  }

  .cta-premium {
    max-width: 39.9rem;
    top: 17rem;
    left: 21.5rem;
    z-index: 10;
  }
}

@media screen and (min-width: 1000px) {
  .cta {
    max-width: 111rem;
    margin-top: 32.1rem;
  }

  .cta-illustration {
    display: block;
    left: 10rem;

    top: -21rem;
  }

  .cta-img {
    width: 31.2rem;
  }

  .cta-pattern {
    width: 31.2rem;
    top: -4rem;
    left: 33.4rem;
    transform: initial;
  }

  .cta-premium {
    max-width: 44.6rem;
    height: 62.5rem;
    top: 9rem;
    left: initial;
    right: 9.5rem;
  }
}

.btn {
  display: block;
  width: 100%;
  border: none;
  border-radius: 1.2rem;
  padding: 1.5rem 3rem;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease;
}

.ios {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-600);
}

.ios:hover {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-500);
}

.android {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-600);
}

.android:hover {
  color: var(--clr-primary-600);
  background-color: #ffb964;
}

.btn + .btn {
  margin-top: 1.6rem;
}

/* FOOTER */
li {
  list-style: none;
}
.footer {
  margin-top: 60rem;
  padding: 0 2.4rem 8rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-icons-wrapper {
  margin-top: 6.4rem;
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 500px) {
  .footer {
    margin-top: 25rem;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-info p {
    width: 52%;
    line-height: 2.6rem;
  }

  .footer-icons-wrapper {
    margin-top: 0;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    margin-top: 15rem;
  }

  .footer-wrapper {
    flex-direction: row;
    margin: 0 auto;
    max-width: 111rem;
    justify-content: space-between;
  }

  .footer-info {
    flex-grow: 1;
  }

  .footer-logo {
    width: 20%;
  }
}

li svg path {
  transition: all .3s ease;
}

li:hover path {
  fill: var(--clr-primary-500);
}
