:root {
  --clr-primary: hsl(25, 97%, 53%);
  --clr-neutral-white: white;
  --clr-neutral-light: hsl(217, 12%, 63%);
  --clr-neutral-medium: hsl(216, 12%, 54%);
  --clr-neutral-dark: hsl(213, 19%, 18%);
  --clr-netral-very-dark: hsl(216, 12%, 8%);

  --ff: "Overpass", sans-serif;
}

body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  background-color: var(--clr-netral-very-dark);

  color: var(--clr-neutral-light);
  font-size: 1.4rem;
  font-family: var(--ff);
  line-height: 1.6;
}

/* MAIN */
main {
  position: relative;
}

.container {
  max-width: 37.5rem;
  padding: 0 2.4rem;
}

@media screen and (min-width: 500px) {
  .container {
    max-width: 1000px;
  }
}

.card {
  max-width: 32.7rem;
  height: 36rem;
  background: linear-gradient(hsl(215, 20%, 17%), hsl(215, 24%, 12%));
  border-radius: 3rem;
}

@media screen and (min-width: 500px) {
  .card {
    max-width: 41.2rem;
    height: 41.6rem;
  }
}

.rating-card {
  padding: 2.4rem 2.4rem 3.2rem;
}

@media screen and (min-width: 500px) {
  .rating-card {
    padding: 3.2rem;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--clr-neutral-dark);
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .icon {
    width: 4.8rem;
    height: 4.8rem;
  }
}

h2 {
  color: white;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-top: 1.6rem;
  margin-bottom: 1.9rem;
}

p {
  margin-bottom: 2.4rem;
  line-height: 2.2rem;
}

@media screen and (min-width: 500px) {
  h2 {
    font-size: 2.8rem;
    margin-top: 3rem;
    margin-bottom: 0.7rem;
  }

  .rating-card p {
    margin-bottom: 2.4rem;
    margin-top: 0.7rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.2rem;
  width: 4.2rem;
  overflow: hidden;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 500px) {
  .input-wrapper {
    width: 5.1rem;
    height: 5.1rem;
    margin-bottom: 3.2rem;
  }
}

input {
  display: none;
}

input:checked + label {
  /* transform: scale(2.1); */
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral-dark);
  color: var(--clr-neutral-medium);
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  padding: 1.2rem 0;
  width: 100%;
  border: none;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2.2rem;
  line-height: 1.9rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

@media screen and (min-width: 500px) {
  .btn {
    padding: 1.1rem 0;
  }
}

.thank-card {
  position: absolute;
  /* top: 0; */
  z-index: -1;
  padding: 3.4rem 2.4rem 3.7rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.thank-card img {
  height: 9.6rem;
}

@media screen and (min-width: 500px) {
  .thank-card {
    padding: 4.5rem 3.2rem;
  }

  .thank-card img {
    height: 10.8rem;
  }
}

.output-msg {
  display: flex;
  justify-content: center;
  margin: 2.4rem 0;
  color: var(--clr-primary);
}

@media screen and (min-width: 500px) {
  .output-msg {
    margin: 3.2rem 0;
  }
}

.output-msg-wrapper {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background-color: var(--clr-neutral-dark);
  border-radius: 2.2rem;
}

@media screen and (min-width: 500px) {
  .output-msg-wrapper {
    padding: 0.4rem 2rem;
  }
}

.thank-card h2 {
  text-align: center;
  margin-bottom: 1.7rem;
}

.thank-card p {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .thank-card h2 {
    margin-bottom: 2rem;
  }

  .thank-card p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
